src/flows/Day_2_Assignment_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_in_Collection</name>
        <label>Add in Collection</label>
        <locationX>823</locationX>
        <locationY>661</locationY>
        <assignmentItems>
            <assignToReference>Accunts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Accunts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountPrior</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Addition_of_active_contact</name>
        <label>Addition of active contact</label>
        <locationX>685</locationX>
        <locationY>393</locationY>
        <assignmentItems>
            <assignToReference>Account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.Active_contacts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_in_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Addition_to_accounts</name>
        <label>Addition to accounts</label>
        <locationX>493</locationX>
        <locationY>403</locationY>
        <assignmentItems>
            <assignToReference>Account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.Active_contacts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AdditionInActiveContacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_in_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtraction_from_Account</name>
        <label>Subtraction from Account</label>
        <locationX>812</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>AccountPrior.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >AccountPrior.Active_contacts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >SubtractionFromActiveContacts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.Active_contacts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AdditionInActiveContacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_in_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtraction_from_Account_0</name>
        <label>Subtraction from Account</label>
        <locationX>981</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>AccountPrior.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >AccountPrior.Active_contacts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >SubtractionFromActiveContacts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.Active_contacts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_in_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtraction_from_Account_0_0</name>
        <label>Subtraction from Account</label>
        <locationX>1116</locationX>
        <locationY>256</locationY>
        <assignmentItems>
            <assignToReference>Account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.Active_contacts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubtractOntheSameAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_in_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateAccountOnCreationOfNewContact</name>
        <label>UpdateAccountOnCreationOfNewContact</label>
        <locationX>1266</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>Account.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account.Active_contacts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AdditionInActiveContacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_in_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Count_of_Active_contacts_under_a_account</name>
        <label>Count of Active contacts under a account</label>
        <locationX>595</locationX>
        <locationY>234</locationY>
        <defaultConnector>
            <targetReference>Addition_of_active_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>else</defaultConnectorLabel>
        <rules>
            <name>If_Active_contact_greater_then_zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.Account.Active_contacts__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Addition_to_accounts</targetReference>
            </connector>
            <label>If Active contact greater then zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>filter_contact</name>
        <label>filter contact</label>
        <locationX>731</locationX>
        <locationY>104</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>Active_Contact_Path_With_Same_AccountId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Count_of_Active_contacts_under_a_account</targetReference>
            </connector>
            <label>Active Contact Path With Same AccountId</label>
        </rules>
        <rules>
            <name>Account_Id_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Id</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >If_Active_contact_And_Account_Id_Changed</targetReference>
            </connector>
            <label>Account Id Changed</label>
        </rules>
        <rules>
            <name>Deactivate_Contact_path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deactivate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subtraction_from_Account_0_0</targetReference>
            </connector>
            <label>Deactivate Contact path</label>
        </rules>
        <rules>
            <name>Insert_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >UpdateAccountOnCreationOfNewContact</targetReference>
            </connector>
            <label>Insert Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Active_contact_And_Account_Id_Changed</name>
        <label>If Active contact And Account Id Changed</label>
        <locationX>897</locationX>
        <locationY>268</locationY>
        <defaultConnector>
            <targetReference>Subtraction_from_Account_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>else</defaultConnectorLabel>
        <rules>
            <name>Active_contact_Or_remove_Account_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >$Record.Account.Active_contacts__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subtraction_from_Account</targetReference>
            </connector>
            <label>Active contact Or remove Account Id</label>
        </rules>
    </decisions>
    <formulas>
        <name>AdditionInActiveContacts</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Account.Active_contacts__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SubtractionFromActiveContacts</name>
        <dataType>Number</dataType>
        <expression>{!$Record__Prior.Account.Active_contacts__c}-1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SubtractOntheSameAccount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Account.Active_contacts__c}-1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Day 2 Assignment 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Day 2 Assignment 1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Accounts</name>
        <label>Update Accounts</label>
        <locationX>1078</locationX>
        <locationY>606</locationY>
        <inputReference>Accunts</inputReference>
    </recordUpdates>
    <start>
        <locationX>99</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>filter_contact</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4) OR (5)</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.AccountId</elementReference>
        </value>
    </variables>
    <variables>
        <name>AccountPrior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Accunts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
</Flow>
