src/flows/Day_1_Assignment_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_contact_in_collection</name>
        <label>Add contact in collection</label>
        <locationX>1292</locationX>
        <locationY>643</locationY>
        <assignmentItems>
            <assignToReference>ContactsForupdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Phone_And_Address</name>
        <label>Assign Phone And Address</label>
        <locationX>1159</locationX>
        <locationY>643</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.OtherStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactAddress.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactRecords.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.OtherCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactAddress.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.OtherCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactAddress.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.OtherState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactAddress.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecord.OtherPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactAddress.postalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_contact_in_collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CreateContact</name>
        <choiceText>Create Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create Contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>DeleteContact</name>
        <choiceText>Delete Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Delete Contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>UpdateContact</name>
        <choiceText>Update Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update Contact</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Selected_Action</name>
        <label>Check Selected Action</label>
        <locationX>835</locationX>
        <locationY>234</locationY>
        <defaultConnector>
            <targetReference
      >Screen_to_Collect_Date_for_Deletion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Delete Contact</defaultConnectorLabel>
        <rules>
            <name>Insert_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Actions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Conrtact</targetReference>
            </connector>
            <label>Insert Contact</label>
        </rules>
        <rules>
            <name>Update_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Actions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactUpdate</targetReference>
            </connector>
            <label>Update Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delete_Or_Not</name>
        <label>Delete Or Not</label>
        <locationX>698</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error Message</defaultConnectorLabel>
        <rules>
            <name>Delete_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getContactForDeletion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteContactRecords</targetReference>
            </connector>
            <label>Delete Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_or_Create_New</name>
        <label>Update or Create New</label>
        <locationX>1313</locationX>
        <locationY>460</locationY>
        <defaultConnector>
            <targetReference>Create_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create</defaultConnectorLabel>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getContactForUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactRecords</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <formulas>
        <name>baseUrl</name>
        <dataType>String</dataType>
        <expression
    >LEFT({!$Api.Partner_Server_URL_260}, FIND(&apos;/services&apos;,{!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <interviewLabel
  >Day 1 Assignment Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Day 1 Assignment Screen Flow</label>
    <loops>
        <name>ContactRecords</name>
        <label>ContactRecords</label>
        <locationX>1174</locationX>
        <locationY>508</locationY>
        <collectionReference>getContactForUpdate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Phone_And_Address</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_Record</name>
        <label>Create Case Record</label>
        <locationX>392</locationX>
        <locationY>464</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_back_contact_and_Case_record</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>524</locationX>
        <locationY>367</locationY>
        <assignRecordIdToReference>ContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Case_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Account_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>ContactEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>ContactPhone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Records</name>
        <label>Create Records</label>
        <locationX>1484</locationX>
        <locationY>478</locationY>
        <assignRecordIdToReference>ContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Success_Message_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>ContactName.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ContactName.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherStreet</field>
            <value>
                <elementReference>Address.street</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordDeletes>
        <name>DeleteContactRecords</name>
        <label>DeleteContactRecords</label>
        <locationX>586</locationX>
        <locationY>767</locationY>
        <connector>
            <targetReference>Success_Message_0_0_0</targetReference>
        </connector>
        <inputReference>getContactForDeletion</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Account_Name</name>
        <label>Account Name</label>
        <locationX>642</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flow_Assignment_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContactForDeletion</name>
        <label>getContactForDeletion</label>
        <locationX>706</locationX>
        <locationY>508</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >ContactNameForDeletion.firstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >ContactNameForDeletion.lastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailForDeletion.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContactForUpdate</name>
        <label>getContactForUpdate</label>
        <locationX>1211</locationX>
        <locationY>354</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_or_Create_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactName.firstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactName.lastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Roll_back_contact_and_Case_record</name>
        <label>Roll back contact and Case record</label>
        <locationX>188</locationX>
        <locationY>464</locationY>
        <connector>
            <targetReference>Error_Window</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>1291</locationX>
        <locationY>774</locationY>
        <connector>
            <targetReference
      >Success_Message_for_contact_update</targetReference>
        </connector>
        <inputReference>ContactsForupdate</inputReference>
    </recordUpdates>
    <screens>
        <name>ContactUpdate</name>
        <label>Update Contact</label>
        <locationX>1287</locationX>
        <locationY>241</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getContactForUpdate</targetReference>
        </connector>
        <fields>
            <name>Display_Update_Message</name>
            <fieldText
      >&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(11, 157, 255);&quot;&gt;&lt;i&gt;Please fill in the details to check for the similar contacts&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactUpdate_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ContactUpdate_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContactName</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>lastName</name>
                        <value>
                            <elementReference
              >ContactName.lastName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>firstName</name>
                        <value>
                            <elementReference
              >ContactName.firstName</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ContactAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <helpText
    >&lt;p&gt;Please details to update the check for the similar contacts&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Conrtact</name>
        <label>Create Conrtact</label>
        <locationX>533</locationX>
        <locationY>221</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <fields>
            <name>HelpText</name>
            <fieldText
      >&lt;p&gt;&lt;b&gt;To Create a contact please fill all required details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_Conrtact_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Conrtact_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FirstName</name>
                    <dataType>String</dataType>
                    <fieldText>FirstName</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ContactEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Conrtact_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LastName</name>
                    <dataType>String</dataType>
                    <fieldText>LastName</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ContactPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn
          >UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>936</locationX>
        <locationY>696</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference
      >Screen_to_Collect_Date_for_Deletion</targetReference>
        </connector>
        <fields>
            <name>CaseCreated_0_0</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(231, 44, 44); font-size: 16px;&quot;&gt;No record found please click on next to retry&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Window</name>
        <label>Error Screen</label>
        <locationX>197</locationX>
        <locationY>309</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Next</backButtonLabel>
        <connector>
            <targetReference>Create_Conrtact</targetReference>
        </connector>
        <fields>
            <name>ErrorMessage</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(234, 44, 44);&quot;&gt;An error occurred while creating the Case record, Please click next to retry.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Flow_Assignment_1</name>
        <label>DML Operations On Contact</label>
        <locationX>844</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Selected_Action</targetReference>
        </connector>
        <fields>
            <name>AccountName</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(25, 118, 195); font-size: 16px;&quot;&gt;{!Account_Name.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Actions</name>
            <choiceReferences>CreateContact</choiceReferences>
            <choiceReferences>UpdateContact</choiceReferences>
            <choiceReferences>DeleteContact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Actions</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_to_Collect_Date_for_Deletion</name>
        <label>Screen to Collect Date for Deletion</label>
        <locationX>836</locationX>
        <locationY>456</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getContactForDeletion</targetReference>
        </connector>
        <fields>
            <name>HelpTextForContactDeletion</name>
            <fieldText
      >&lt;p&gt;&lt;b style=&quot;color: rgb(240, 103, 103);&quot;&gt;&lt;i&gt;Please fill in the details to check the contact is available for the deletion under the account&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactNameForDeletion</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference
          >ContactNameForDeletion.firstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference
          >ContactNameForDeletion.lastName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EmailForDeletion</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>392</locationX>
        <locationY>607</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CaseCreated</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;{!baseUrl}{!ContactId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; color: rgb(10, 228, 148);&quot;&gt;&lt;b&gt;Contact&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;font-size: 16px; color: rgb(10, 228, 148);&quot;&gt; &amp;amp; Case record created Successfully.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Message_0</name>
        <label>Success Message</label>
        <locationX>1498</locationX>
        <locationY>634</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CaseCreated_0</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;{!baseUrl}{!ContactId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(10, 228, 148); font-size: 16px;&quot;&gt;&lt;b&gt;Contact&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;color: rgb(10, 228, 148); font-size: 16px;&quot;&gt; record created Successfully.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Message_0_0_0</name>
        <label>Success Message</label>
        <locationX>707</locationX>
        <locationY>832</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CaseCreated_0_0_0</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(10, 228, 148);&quot;&gt;Contact record deleted Successfully.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Message_for_contact_update</name>
        <label>Success Message for contact update</label>
        <locationX>1449</locationX>
        <locationY>852</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CaseCreated_0_0_0_0</name>
            <fieldText
      >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(10, 228, 148);&quot;&gt;Contact records  Updated Successfully.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>174</locationX>
        <locationY>59</locationY>
        <connector>
            <targetReference>Account_Name</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactsForupdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
