src/flows/Day_3_Assignment_1_Part_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Contacts_Records_Updated</name>
        <label>Contacts Records Updated</label>
        <locationX>1186</locationX>
        <locationY>463</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Contacts Records Updated Successfully</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_contact_Record</name>
        <label>Assign contact Record</label>
        <locationX>1178</locationX>
        <locationY>262</locationY>
        <assignmentItems>
            <assignToReference>ContactRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_the_contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >ContactRecord.Customer_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Loop_over_the_contacts.Account.Customer_Priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRecordstoupdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_the_contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_Records_size_check</name>
        <label>Contact Records size check</label>
        <locationX>594</locationX>
        <locationY>263</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_contact_Records_greater_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fetch_Contact_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_the_contacts</targetReference>
            </connector>
            <label>If contact Records greater than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Size_check</name>
        <label>Size check</label>
        <locationX>795</locationX>
        <locationY>485</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_contacts_greater_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactRecordstoupdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_contacts</targetReference>
            </connector>
            <label>If contacts greater than 0</label>
        </rules>
    </decisions>
    <interviewLabel
  >Day 3 Assignment 1 Part 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Day 3 Assignment 1 Part 1</label>
    <loops>
        <name>Loop_over_the_contacts</name>
        <label>Loop over the contacts</label>
        <locationX>894</locationX>
        <locationY>261</locationY>
        <collectionReference>fetch_Contact_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_contact_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Size_check</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>fetch_Contact_Records</name>
        <label>fetch Contact Records</label>
        <locationX>421</locationX>
        <locationY>255</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Records_size_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_contacts</name>
        <label>Update contacts</label>
        <locationX>1009</locationX>
        <locationY>486</locationY>
        <connector>
            <targetReference>Contacts_Records_Updated</targetReference>
        </connector>
        <inputReference>ContactRecordstoupdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>120</locationX>
        <locationY>83</locationY>
        <connector>
            <targetReference>fetch_Contact_Records</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text
    >&lt;p&gt;&lt;b style=&quot;color: rgb(45, 121, 53);&quot;&gt;Contacts Records Updated Successfully!!&lt;/b&gt;&lt;b style=&quot;color: rgb(8, 202, 28);&quot;&gt;✅&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://resourceful-panda-vk9aee-dev-ed--c.documentforce.com/sfc/servlet.shepherd/version/download/0685g000007JOjF?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactRecordstoupdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
