src/flows/Send_Birthday_Greeting_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description
    >Send a Happy Birthday Email to the matched contacts.</description>
        <name>Birthday_Greeting</name>
        <label>Birthday Greeting</label>
        <locationX>1272</locationX>
        <locationY>322</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>LoopOverTheContacts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>LoopOverTheContacts.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>dilip.jain@fexle.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue
        >Happy Birthday, {!LoopOverTheContacts.FirstName}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Records_size_check</name>
        <label>Records size check</label>
        <locationX>623</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Size_is_greater_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOverTheContacts</targetReference>
            </connector>
            <label>Size is greater than 0</label>
        </rules>
    </decisions>
    <formulas>
        <name>Day</name>
        <dataType>String</dataType>
        <expression>TEXT(DAY(Today()))</expression>
    </formulas>
    <formulas>
        <name>Month</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH(Today()))</expression>
    </formulas>
    <formulas>
        <name>todaydate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel
  >Send Birthday Greeting Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Birthday Greeting Email</label>
    <loops>
        <name>LoopOverTheContacts</name>
        <label>LoopOverTheContacts</label>
        <locationX>958</locationX>
        <locationY>325</locationY>
        <collectionReference>ContactRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Birthday_Greeting</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Contacts</name>
        <label>Contacts</label>
        <locationX>1084</locationX>
        <locationY>122</locationY>
        <assignNullValuesIfNoRecordsFound
    >true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_size_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BirthDay__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Day</elementReference>
            </value>
        </filters>
        <filters>
            <field>BirthMonth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Month</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ContactRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Birthdate</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>520</locationX>
        <locationY>22</locationY>
        <connector>
            <targetReference>Contacts</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-04-05</startDate>
            <startTime>15:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text
    >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 24px; color: rgb(228, 138, 12);&quot;&gt;Wish you a very Happy Birthday!!🎉🎂🎆&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;
&lt;img src=&quot;https://resourceful-panda-vk9aee-dev-ed--c.documentforce.com/servlet/servlet.ImageServer?id=0155g000000FQdX&amp;oid=00D5g000004gZLh&amp;lastMod=1649176636000&quot;&gt;
&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ContactRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
